* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.App {
    border: 3px solid black;
    width: 400px;
    max-width: 96%;
    margin: 0 auto;
    margin-top: 3rem;
    padding: 1rem;
}

form * {
    margin-bottom: .5rem;
}

button {
    padding: .3rem;
}

.gameContent * {

    margin-bottom: .3rem;
}

.question {
    font-weight: bold;
}

.answer {
    display: block;
}

input[type="radio"]:checked~* {
    font-weight: bold;
    color: blue;

}

.gameOver * {
    margin-bottom: 1rem;
}

.score {
    margin-top: .5rem;
    border-bottom: 1px solid black;
    padding-bottom: .5rem;
}